@use 'sections';
@import 'variables';

body{
    background-color: $backgroundColor;

    header{
        color: $titleColor;
        width: 100%;
        h1{
            font-style: italic;
            text-align: center;
        }
    }

    #mixin-example{
        @include shape (50%, 100px, 100px, yellow, orangered, 5%, 1.5em, italic, bolder);
        @include flex-config;
    }
}